


.container {
  display: flex;
}

.left {
  display: flex;
  background-image: url('background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40vw;
  position: absolute;
  left: 0px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #000;
  opacity: .8;
  color: #fff;
  height: 100px;
  width: 100%;
  font-size: 2rem;
}

img {
  width: 80px;
  height: auto;
}


.right {
  color: #4b4e6d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  position: absolute;
  right: 0px;
  height: 100%;
}






